<app-btn-voltar routerLink="/"  routerLinkActive="active"></app-btn-voltar>

<div class="container">
  <div class="container_icons">

    <H2>Onde me encontrar</H2>

    <a href="https://www.behance.net/nayarateles2" target="_blank"><i class='bx bxl-behance bx-md' ></i></a>
    <a href="https://github.com/NayaraFreitas" target="_blank" ><i class='bx bxl-github bx-md' ></i></a>
    <a href="https://www.linkedin.com/in/nayara-freitas-teles/" target="_blank" ><i class='bx bxl-linkedin bx-md' ></i></a>

  </div>


  <div class="container_form">
    <app-form></app-form>
  </div>

</div>
