<div class="container">

    <div class="container-content">
      <div class="container_text">
        <h1>Olá!</h1>
        <h2>Eu sou <span>Nayara</span>, </h2>
        <p>Desenvolvedora Front-End <br>
        E Designer UX/UI
        </p>
      </div>


      <div class="container-img">
        <img src="../../../assets/img/nayarinha1.png" alt="" srcset="">
      </div>
    </div>



    <div class="container_btn">
      <app-btn contentTitle="Sobre Mim" routerLink="/sobremim"  routerLinkActive="active"></app-btn>

      <app-btn contentTitle="Projetos" routerLink="/projetos"  routerLinkActive="active"></app-btn>

      <app-btn contentTitle="Contato" routerLink="/contato"  routerLinkActive="active"></app-btn>
    </div>
</div>
