<app-btn-voltar routerLink="/"  routerLinkActive="active"></app-btn-voltar>

<div class="container">

  <div class="container_content">
    <div class="content_img">
      <img src="../../../assets/img/Perfil.jpg" alt="foto de perfil">
    </div>

    <span>Hard Skills:</span>

    <div class="content_icons">
      <i class='bx bxl-html5 bx-md ' ></i>
      <i class='bx bxl-css3 bx-md' ></i>
      <i class='bx bxl-javascript bx-md'></i>
      <i class='bx bxl-typescript bx-md'></i>
      <i class='bx bxl-angular bx-md' ></i>
      <i class='bx bxl-tailwind-css bx-md' ></i>
      <i class='bx bxl-bootstrap bx-md' ></i>
      <i class='bx bxl-figma bx-md' ></i>
    </div>
  </div>

  <div class="content_about">
    <div class="content_about_text">
      <h1>Sobre mim</h1>
      <p>Me chamo Nayara, tenho 23 anos e estou desenvolvendo habilidades para me tornar uma desenvolvedora   Front-End e Designer UX/UI. Me encantei com a área em 2022 e desde então venho adquirindo conhecimento sobre este mundo que é super interessante e que te prende a cada discoberta.<br>
        Disposta sempre a novas conhecimentos e experiências, adoro aprender coisa novas, sendo algo para se tornar hobbie ou até mesmo para o meu desenvolvimento profissional. Adoro coisas relaciondo a artes, amo música e desenhar e dou super bem com coisa manuais.

      </p>
    </div>

    <a href="../../../assets/pdf/CV_NayaraFreitas_TI_042024.pdf">Curriculo</a>

  </div>


</div>
