*{
  background-color: initial;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}

.container_content{
  margin: 150px;
}

img{
  height: 280px;
  width: 300px;
  border-radius: 180px 350px 280px 400px;

  box-shadow: -10px -10px 4px #FF3856, 10px 10px 4px #A40404;
}

.container > span{
  margin-top: 50px;
}

.content_icons{
  margin-top: 5px;
}

.content_icons > i:hover {
  color: #FF3856;
  transform: scale(1.5);
}

.content_about a {
  text-decoration: none;
  color: #ecf0f1;
    font-size: 17px;
    font-family: "Poppins", sans-serif;;
    font-weight: bold;

    margin-left: 130px;
    margin-bottom: 50px;
    cursor: pointer;

    background-color: #FF3856;
    border: 1px solid #fc425e;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 6px 0px #A40404;
    transition: all .1s;
}

.content_about a:active{
  box-shadow: 0px 2px 0px #A40404;
  position: relative;
  top: 2px;
}


.content_about_text > p {
  font-size: 13px;
  margin-bottom: 20px;
  padding-right: 100px;
  text-align: justify;
}


.content_about_text >h1{
  margin-bottom: 5px;
  font-size: 40px;
  color: #FF3856;
}
