* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #ff385600;


}

.container_form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 500px;
  width: 550px;
 
}

.container_form > h1 {
  font-weight: 500;
}

form {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 20px;
}

form > div {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

form input, form textarea {
  outline: unset;
  border: 1px solid #FF3856;
  width: 300px;
  padding: 10px;
  border-radius: 10px;
}

form input:focus, form textarea:focus {
  background-color: #ff5a72;
  box-shadow: 0 0 10px #FF3856 ;
}

form input[type=submit] {
  color: #ecf0f1;
    font-size: 17px;
    font-family: "Poppins", sans-serif;;
    font-weight: bold;

    cursor: pointer;

    background-color: #FF3856;
    border: 1px solid #fc425e;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 6px 0px #A40404;
    transition: all .1s;
}

form input[type=submit]:active{
  box-shadow: 0px 2px 0px #A40404;
  position: relative;
  top: 2px;
}
