<div class="container_form">
  <h1>Me envie uma mensagem:</h1>

  <div>
    <form action="https://formsubmit.co/nayarateles1@gmail.com" method="post">

      <div>
        <label for="name">Nome:</label>
        <input type="text" name="name" id="name" required>
      </div>

      <div>
        <label for="e-mail">E-mail:</label>
        <input type="email" name="email" id="e-mail" required>
      </div>

      <div>
        <label for="message">Menssagem:</label>
        <textarea rows="5" cols="10" name="message" required></textarea>
      </div>


      <div>
        <input type="submit" value="Enviar">
      </div>

    </form>
  </div>
</div>
